<a href="https://colab.research.google.com/github/Midmost/Cloud_AI_mobile_ios/blob/main/AI/AI_0917_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
german = pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')

In [ ]:
german

In [ ]:
german_sample=german[['Creditability','Duration of Credit (month)','Purpose','Credit Amount']]

type of apartment 추가

Correlation에서  자기기자자신신과과의  관관계계는  1

In [ ]:
german_sample.corr

In [ ]:
german_sample = german[['Credit Amount', 'Type of apartment', 'Purpose']]

In [ ]:
german_grouped = german_sample['Credit Amount'].groupby(german_sample['Type of apartment']) #type of apartment 찾찾기

In [ ]:
german_grouped.sum()

In [ ]:
german_sample = german[['Credit Amount', 'Type of apartment', 'Purpose']]

In [ ]:
# 그룹을 짓는데 한 개의 컬럼을 쓰기
german_grouped = german_sample['Credit Amount'].groupby(german_sample['Type of apartment'])

# 그룹을 짓는데 두 개의 ㅋ러럼을 쓰는거임 

german_grouped2 = german_sample['Credit Amount'].groupby([german_sample['Purpose'],german_sample['Type of apartment']])

In [ ]:
import seaborn as sns

In [ ]:
planets = sns.load_dataset('planets')

In [ ]:
planets

In [ ]:
planets.dropna()

In [ ]:
births = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv')

In [ ]:
births.head

In [ ]:
births['decade'] = births['year']

In [ ]:
births

In [ ]:
births.pivot_table('births',index = 'decade', columns = 'gender', aggfunc='sum')

# 잔망스러운 기능 하나 해보자

https://teachablemachine.withgoogle.com/