<a href="https://colab.research.google.com/github/Midmost/Cloud_AI_mobile_ios/blob/main/AI/AI_0916_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas import Series, DataFrame
import pandas as pd # !pip install pandas

In [ ]:
!ls -al

In [ ]:
fruit = Series([2500, 3800, 1200, 6000], index = ['apple', 'banana', 'peer', 'cherry'])

In [ ]:
fruit

In [ ]:
#Dataframe

In [ ]:
fruitData = {'fruitName':['apple','banana','peer','cherry',],
             'fruitPrice': [2500,3800,6000,1200],
             'num':[10,5,3,8]}

In [ ]:
type(fruitData)
dict
fruitFrame = DataFrame(fruitData)

In [ ]:
fruitFrame

In [ ]:
fruitFrame = DataFrame(fruitData,columns=['fruitPrice','num','fruitName'])

In [ ]:
fruitFrame

In [ ]:
fruitFrame['fruitName']

In [ ]:
variable = Series([4,2,1],index = [0,2,3]) # 인덱스가 0,1,2 이렇게 순서라 가야 하는데 0,2,3 으로 건너뛰니까

In [ ]:
fruitFrame['stock'] = variable

In [ ]:
fruitFrame # 인덱스가 0,1,2 이렇게 순서라 가야 하는데 0,2,3 으로 건너뛰니까 이렇게 NaN 값이 떠버렸

In [ ]:
new_fruit = fruit.drop('banana') # 안에 있는 항목 하나 삭제할 때는 drop이란 명령어를 사용한다.

In [ ]:
new_fruit

In [ ]:
fruitName = fruitData['fruitName']